{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block beforehead %}

<script>

function validateEmail(email) {
    var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
    return re.test(email.toLowerCase());
}

</script>

{% endblock %}

{% block body %}
      <h1>欢迎注册！</h1>
      <form action="{{ url_for('register_user') }}" method=post >
      	  <p><label>昵称： <input type="text" name="name"/></label></p>
      	  <p><label>头像： <input type="text" name="avatarurl" value="" /></label></p>
          <p><label>手机号： <input type="text" name="phoneNo"/></label></p>
		  <p><label>密　码： <input type="password" name="password" value="" /></label></p>
		  <p><label>确认密码： <input type="password" name="ensure_pw" value="" /></label></p>
		  <p><input type="submit" value=" 注册 " name="submit" style="margin-left:60px;" /></p>
      </form>
      <br />
      <br />
      
	<form action="{{ url_for('set_avatar', uin=102) }}" method=post >
	  	<p><label>账号： <input type="number" name="uin"/></label></p>
	  	<p><label>头像： <input type="text" name="avatarurl" value="" /></label></p>
		<p><input type="submit" value=" 设置 " name="submit" style="margin-left:60px;" /></p>
	</form>
	<br />
	<br />

      <form action= "{{ url_for('upload_image') }}" method=post enctype="multipart/form-data">
      	<p><input type="file" multiple="" name="image" /></p>
        <p><input type="submit" value="上传图片"  style="margin-left:60px;"></p>
      </form>
      
 	<br />
	<br />     
    <div>
            上传的图片:
    <ul>
      {% for file in filenames %}
        <li><a href="{{url_for('get_image', imageid=file)}}">{{file}}</a></li>
      {% endfor %}
    </ul>
    </div>

      
{% endblock %}
